.multi-bg-example {
    width: 100%;
    height: 400px;
    background-image: url(../images/Penyu-Hijau.png),
        linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
        background-size: cover;
        height: 200px;
        text-align: center;
  }

.warna-background{
    background-color: #627D98;
}